* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Balo';
    src: url('/src/font/baloo/baloo-regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/src/font/fredoka-one/Fredoka\ dingbats.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/src/font/fredoka-one/FredokaOne-Regular.ttf') format('truetype');
    font-display: swap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
    background-color: #C8EDFF;
    color: #1B4559;
    border-bottom: 1px solid #00000025;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #1B4559;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #1B4559;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .navbar {
        padding: 24px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #C8EDFF;
        border-bottom: 1px solid #00000025;
    }

    .nav-links li {
        margin: 32px 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}